
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Life</title>
  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="life.css">
  <script src="../lib/angular.min.js"></script>
  <script src="../lib/jquery-1.11.0.js"></script>
  <script src="life.js"></script>
</head>

<body ng-app="myApp" ng-controller="MyCtrl" ng-init="newGrid(gridX,gridY)">
	<h1>Game of Life </h1>
Matriz 
<input type="text" ng-model="gridX" ng-disabled="autorunFlag">
por
<input type="text" ng-model="gridY" ng-disabled="autorunFlag">
<button ng-click="newGrid(gridX,gridY)" ng-disabled="autorunFlag"> NEW BOARD</button>
<table class="lifetable">
	<tr ng-repeat="cols in grid track by $index">
		<td ng-repeat="col in cols track by $index" ng-click=changeState($parent.$index,$index) ng-class="{vivo: getState($parent.$index,$index)}"> 		
		</td>
	</tr>
</table>
<button ng-click="run()"> NEXT ITERATION </button>
<button ng-click="autorun()"> {{autoButton}} </button>
<button ng-click="reset()"> RESET </button>
</body>
</html>
